.address {
    margin: 0 auto  60px;
    text-align: center;
    @media screen and(min-width:1200px) {
        margin-right: 70px;
        text-align: left;
        margin: 0;
    }
    &__group {
        font-style: normal;
        line-height: 1.5;
    }
    &__location {
        margin: 0 0 8px;
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin: 0;
    }
    &__item {
        margin: 0 0 9px 0;
    }
    &__item:last-child {
        margin: 0;
    }
    &__link {
        line-height: 24px;
        letter-spacing: 0.03em;
        color:rgba(255, 255, 255, 0.6);
        text-decoration: none;
    }
}