.footer {
    background: #2F303A;
    padding: 60px 0;
    color:#ffffff;
    &__container {
        display: flex;
        flex-direction: column;
        @media screen and (min-width:767px) {
            justify-content: space-around;
            flex-direction: row;
            flex-wrap: wrap;
        }
        @media screen and(min-width:1200px) {
            justify-content: center;
            flex-wrap: nowrap;
        }
    }
}
.socials{
    margin: 0 0 60px;
    text-align: center;
    @media screen and(min-width: 1200px) {
        margin-left: 70px;
        text-align: left;
    }
    &__title {
        font-weight: 700;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin: 0 0 20px;
        padding: 0;

    }
}
.mailing {
    padding:0;
    text-align: center;
    margin: 0 auto;
    @media screen and(min-width:768px) {
        margin: 0;
    }
    @media screen and(min-width:1200px) {
        text-align: left;
        margin: 0 0 0 auto;
    }
    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 0;
        margin-top: 0;
        margin-bottom: 20px;
    }
}