.logo {
    color:var(--brand-color);
    font-family: var(--sec-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-decoration: none;
    &--dark {
       color: #000000;
    }
    &--bright {
       color: #ffffff;
    }
    &--foot {
        display: block;
        margin: 0 0 20px 0;
    }
    @media screen and (min-width:1200px) {
        font-size: 26px;
        line-height: 31px;
    }
}



