.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    padding: 40px;
    width: 450px;
    height: 581px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 10;
    @media screen and(min-width:1200px) {
        width: 528px;
    }
    &__close-btn {
        position: absolute;
        right:8px;
        top: 8px;
        display: flex;
        height: 30px;
        width: 30px;
        justify-content: center;
        align-items:center;
        background-color: inherit;
        border-radius:50px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            color: var(--brand-color);
        }
    }
    &__text {
        margin:0 0 26px;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
    }
} 
.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0.2);
    transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1) , opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}