.ourTeam {
    background: #F5F4FA;
    text-align: center;
    &__list {
        margin: 0;
        flex-direction: column;
        @media screen and(min-width:767px) {
            flex-direction: row;
            flex-wrap: wrap;
        }    
    }
    &__item {
        display: block;
        width: 100%;
        border-radius: 0px 0px 4px 4px;
        text-align: center;
        background-color: #ffffff;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        
        @media screen and(max-width:767px) {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
        @media screen and(min-width:767px) {
            width: 354px;
            &:nth-child(odd) {
                margin-right: 30px;
            }
            &:not(:nth-child(n + 3)) {
                margin-bottom: 30px;
            }
        }
        @media screen and(min-width:1200px) {
            width: 270px;
            &:not(:last-child) {
                margin-right: 30px;
            }
             &:not(:nth-child(n + 3)) {
                margin-bottom: 0;
            }
        }
    }
       &__text {
        display: block;
        padding-top: 30px;
        padding-bottom: 30px;
    }
        &__title {
        color: var(--title-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;
        margin: 0 0 10px;
        padding: 0;
    }
       &__job-title {
        color: var(--text-color);
        font-size: 14px;
        letter-spacing: 0.03em;
        line-height: 1.18;
        margin: 0 0 16px;
        padding: 0;
    }
}