.socials-list {
    padding: 0;
    margin: 0 auto;
    &__item {
        margin-right: 10px;
    }
    &__item:last-child {
        margin-right: 0;
    }
    &__link {
        width: 44px;
        height: 44px; 
        border-radius:50%;
        text-decoration: none;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__link-bright {
        @extend .socials-list__link;
        color: rgba(175, 177, 184, 1);
        &:hover,
        &:focus{
            background-color: var(--brand-color);
            color:#ffffff;
            border-color:var(--brand-color);
        }


    }
    &__link-dark {
        @extend .socials-list__link;
        color:#ffffff;
        background-color:#FFFFFF1A;
        &:hover,
        &focus {
            background-color: var(--brand-color);
        }
    }
}