.works {
    text-align: center;
    @media screen and(max-width:1200px) {
        display: none;
    }
    &__item {
        position: relative;
        margin-right: 30px;
        padding: 0;
    }
    &__item:last-child {
        margin-right: 0;
    }
    &__pict {
        display: block;
        height: auto;
    }
    &__title {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 27px 0;
        background: rgba(47, 48, 58, 0.8);
    }
    &__text {
        font-weight: 700;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color:#ffffff;
    }
}